<h3>"<%= @group.name %>"にユーザを招待する</h3>
<table class="table">
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>招待状況</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> さん</td>
        <td>
          <%= form_with(model: @group_user, local: true) do |f| %>
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.hidden_field :group_id, value: @group.id %>
            <%= f.submit "#{user.name}さんを招待", data: { confirm: "#{user.name}さんを招待しますか？" }, class: 'btn btn-primary btn-block' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>