<div class="groups-container">

  <div class="groups-container__main-content">
    <%= render 'thanks/index', user: current_user, thanks: @thanks, q: @q %>
  </div>

  <div class="groups-container__right-content">
    <%= render 'thanks/search_form', q: @q, url: group_path(@group) %>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">"<%= @group.name %>"</h4>
      </div>
      <% @users.each do |user| %>
        <% if permitted_group_user(user, @group) %>
          <p><%= user.name %> さん</p>
        <% else %>
          <p><%= user.name %> さん(招待中)</p>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'グループにユーザを追加', search_user_group_path(@group) %><br>
    <%= link_to 'グループ名変更', edit_group_path(@group) %>
  </div>

</div>
