<h1 class="text-center">"<%= @group.name %>"みんなの感謝</h1>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title text-center">"<%= @group.name %>"</h4>
      </div>

      <% @users.each do |user| %>
        <% if permitted_group_user(user, @group) %>
          <p><%= user.name %> さん</p>
        <% else %>
          <p><%= user.name %> さん(招待中)</p>
        <% end %>
      <% end %>

    </div>
    <%= link_to 'グループにユーザを追加', search_user_group_path(@group) %><br>
    <%= link_to 'グループ名変更', edit_group_path(@group) %>

    <table class="table mt-4">
      <thead class="bg-secondary text-white">
        <tr>
          <th>感謝した人</th>
          <th>感謝された人</th>
          <th>感謝の内容</th>
          <th><%= sort_link  @q, :created_at, '日付(ソート)' %></th>
        </tr>
      </thead>
      <% @thanks.each do |thank| %>
        <tbody>
          <tr>
            <td><%= thank.user.name %></td>
            <td><%= thank.receiver.name %></td>
            <td><%= thank.content %></td>
            <td><%= l thank.created_at %></td>
          </tr>
        </tbody>
      <% end %>
    </table>