<div class="groups-container">

  <div class="groups-container__main-content">
    <%= render 'thanks/index', user: current_user, thanks: @thanks, q: @q, group: @group %>
  </div>

  <div class="groups-container__right-content">
    <%= render 'thanks/search_form', q: @q, url: group_path(@group) %>

    <div class="join-user-container">
      <div class="join-user-container__head">
        <%= @group.name %>
      </div>
      <div class="join-user-container__main">
        <% @users.each do |user| %>
          <div class="join-user-container__main--user-name">
            <% if permitted_group_user(user, @group) %>
                <%= user.name %> さん
            <% else %>
                <%= user.name %> さん(招待中)
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="join-user-container__footer">
        <div class="join-user-container__footer--add-user-link">
          <%= link_to 'ユーザを招待', search_user_group_path(@group) %>
        </div>
        <div class="join-user-container__footer--edit-group-link">
          <%= link_to 'グループ名を変更', edit_group_path(@group) %>
        </div>
      </div>

    </div>
  </div>

</div>
