<h1 class="text-center"><%= @user.name %>さんのページ</h1>

<div class="row mt-4">

  <div class="col-sm-4">
    <div class="card" style="width: 24rem;">
      <div class="card-body">
        <h4 class="card-title text-center"><%= @user.name %> さんのグループ</h4>
      </div>

      <% @groups.each do |group| %>
        <% if permitted_group_user(@user, group) %>
          <p><%= link_to group.name, group %></p>
        <% else %>
          <p>「<%= group.name %>」 から招待されています</p>
        <% end %>
      <% end %>

    </div>
    <!-- ログインユーザをの場合のみ表示 !-->
    <%= link_to 'アカウント情報編集', edit_user_path(current_user) %>
  </div>

  <div class="col-sm-7 offset-sm-1">
    <%= render 'thanks/search_form', q: @q, url: user_path(@user) %>
  </div>

</div>

<table class="table mt-4">
  <thead class="bg-secondary text-white">
    <tr>
      <th><%= @user.name %> さんが感謝した人</th>
      <th>感謝の内容</th>
      <th><%= sort_link  @q, :created_at, '日付(ソート)' %></th>
    </tr>
  </thead>
  <% @thanks.each do |thank| %>
    <tbody>
      <tr>
        <td><%= thank.receiver.name %></td>
        <td><%= thank.content %></td>
        <td><%= l thank.created_at %></td>
      </tr>
    </tbody>
  <% end %>
</table>