<% if logged_in? %>
  <h1 class="header-message">１日１回、感謝を言葉に<i class="far fa-envelope"></i></h1>
  <% if @groups == [] %>
    <p class="no-group-message">
      参加グループがありません<br>
      グループを作成してユーザを招待しよう
    </p>
  <% end %>
  <% @groups.each do |group| %>
    <% if permitted_group_user(current_user, group) %> <!--参加済みグループのみを表示!-->
      <div class="group-container">
        <div class="group-name">
          <%= link_to "#{group.name}", group_path(group) %>
        </div>
          <% group.users.each do |user| %>
            <% if current_user != user && permitted_group_user(user, group) %> <!-- ログインユーザでない 且つ 参加済みユーザのみを表示 !-->
              <% if thank_today(@thanks, user, group) %> <!-- 今日の感謝登録あるかないかで表示内容を変更 !-->
                <div class="thanked-content">
                  <div class="thanked-content__text">
                    <i class="far fa-hand-point-right"></i><i class="fas fa-heart"></i> <%= user.name %> さんに今日の感謝を送りました <i class="far fa-laugh-squint"></i>
                  </div>
                  <div class="thanked-content__undo-btn">
                    <%= link_to sanitize('<i class="fas fa-heart-broken"></i>'), thank_path(@today_thank), method: :delete, data: { confirm: "#{user.name}さんに送った今日の感謝を取り消しますか？" }, class: 'btn thanked-content__undo-btn--link' %>
                  </div>
                </div>
              <% else %>
                <% if clean_thank(@thank) || operation_form_thank(@thank, user, group) %>
                  <%= render 'thanks/thank_form', thank: @thank, user: user, group: group %>
                <% else %>
                  <% @new_thank = current_user.thanks.build %>
                  <%= render 'thanks/thank_form', thank: @new_thank, user: user, group: group %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @groups %>

<% else %>
  <div class="account-header">
    ThanksHabitは<br>
    「感謝を伝える」を習慣化するアプリです
  </div>
  <%= form_with url: login_path, scope: :session, local: true, class: "account-form"  do |f| %>
    <div class="account-form__group">
      <%= f.label :email, 'メールアドレス', class: "account-form__group--label" %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="account-form__group">
      <%= f.label :password, 'パスワード（8文字以上）', class: "account-form__group--label" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="account-form__submit">
      <%= f.submit 'ログイン', class: 'btn account-form__submit--btn' %>
    </div>
  <% end %>
  <div class="account-footer">
    アカウントをお持ちでない方は <%= link_to 'こちら', signup_path %>
  </div>
<% end %>