<div class="details-page-header">
  <div class="details-page-header__title">
    <% if current_page?(user_path(user)) %>
      <%= user.name %> さんが貰った
    <% else %>
      <%= group.name %>
    <% end %>
  </div>
  <span class="details-page-header__face-icon"><i class="far fa-smile-beam"></i></span>
  感謝の記録
  <span class="details-page-header__heart-icon"><i class="fas fa-heart"></i></span>
</div>
<div class="date-switching">
  <%= sort_link  q, :created_at, '日付(ソート)' %>
</div>
  <% thanks.each do |thank| %>
    <div class="thank-card">
      <% if current_page?(user_path(current_user)) %> <!-- ユーザ詳細画面の場合はグループ名を表示 -->
        <div class="thank-card__group-name">
          <i class="fas fa-user-friends"></i> <%= thank.group.name %>
        </div>
      <% end %>
      <div class="thank-card__upper-info">
        <div class="thank-card__upper-info--send-user">
          <div class="thank-card__upper-info--send-user--icon"><i class="far fa-laugh-wink"></i></div>
          <div class="thank-card__upper-info--send-user--name"><%= thank.user.name %> さん</div>
        </div>
        <div class="thank-card__upper-info--send-icon"><i class="far fa-hand-point-right"></i><i class="fas fa-heart"></i></div>
        <div class="thank-card__upper-info--reciever">
          <div class="thank-card__upper-info--reciever--icon"><i class="far fa-laugh-squint"></i></div>
          <div class="thank-card__upper-info--reciever--name"><%= thank.receiver.name %> さん</div>
        </div>
      </div>
      <div class="thank-card__content">
        <p class="thank-card__content--messeage"><%= thank.content %></p>
        <div class="thank-card__content--date"><%= l thank.created_at %></div>
      </div>
    </div>
  <% end %>
<%= paginate thanks %>