<div class="thank-search-container">

  <div class="thank-search-container__head">日付で絞り込む</div>

  <%= search_form_for q, url: url, class: "thank-search-form-group" do |f| %>

    <div class="thank-search-form-group__upper">
      <%= f.date_field :created_at_lteq_end_of_day, class: 'form-control thank-search-form-group__upper--input' %>
      <div class="thank-search-form-group__upper--label">以前</div>
    </div>

    <div class="thank-search-form-group__lower">
      <%= f.date_field :created_at_gteq, class: 'form-control thank-search-form-group__lower--input' %>
      <div class="thank-search-form-group__lower--label">以降</div>
    </div>

    <div class="thank-search-form-group__submit">
      <%= button_tag sanitize('<i class="fas fa-search"></i>検索'), type: "submit", class: "btn" %>
    </div>

    <div class="thank-search-form-group__undo-link">
      <%= link_to sanitize('全件表示に戻す'), url %>
    </div>
  <% end %>

</div>