<input id="menu-icon" type="checkbox" /> <!-- サイドバー表示、非表示切替判定に使用 -->
<!-- ヘッダー -->
<div class="header">
  <label for="menu-icon" class="header__open-icon"><i class="fas fa-bars"></i></label>
  <%= link_to 'ThanksHabit', root_path, class: "header__title" %>
  <ul class="header__nav">
    <% if logged_in? %>
      <li class="header__nav--link-list"><%= link_to '感謝を贈る', root_path %></li>
      <li class="header__nav--link-list"><%= link_to 'グループを作る', new_group_path %></li>
      <% unless unpermit_group_users(current_user) == []  %> <!-- 承認していないグループ招待があれば表示 !-->
        <li class="header__nav--link-list nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">招待があります</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% unpermit_group_users(current_user).each do |unpermit_group_user| %>
              <li class="dropdown-item"><%= link_to "「#{unpermit_group_user.group.name}」招待", check_group_user_path(unpermit_group_user), class: "dropdown-item__link" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li class="header__nav--link-list nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"><%= link_to 'マイページ', current_user, class: "dropdown-item__link" %></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item"><%= link_to 'ユーザ情報編集', edit_user_path(current_user), class: "dropdown-item__link" %></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "dropdown-item__link" %></li>
        </ul>
      </li>
    <% else %>
      <% if current_page?(root_path) %>
        <li class="header__nav--link-list"><%= link_to 'アカウント作成', signup_path %></li>
      <% else %>
        <li class="header__nav--link-list"><%= link_to 'ログイン', root_path %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<label for="menu-icon" class="back"></label>

<aside class="sidebar"> <!-- 画面幅縮小時ハンバーガーメニューで表示 -->
  <label for="menu-icon" class="sidebar__close-icon"><i class="fas fa-times fa-2x"></i></label>

  <!-- ログイン時サイドバー -->
  <% if logged_in? %>
    <div class="sidebar__nav">
      <ul class="sidebar__nav--link-list">
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-hand-holding-heart"></i> 感謝を贈る
          <% end %>
        </li>
        <li>
          <%= link_to new_group_path do %>
            <i class="fas fa-users"></i> グループを作る
          <% end %>
        </li>
        <% unless unpermit_group_users(current_user) == []  %> <!-- 承認していないグループ招待があれば表示 !-->
          <li class="nav-item dropdown"> <!-- ドロップダウンにはBootstrapを採用 -->
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-bell"></i> 招待があります</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <% unpermit_group_users(current_user).each do |unpermit_group_user| %>
                <li class="dropdown-item">
                  <%= link_to "「#{unpermit_group_user.group.name}」招待", check_group_user_path(unpermit_group_user), class: "dropdown-item__link" %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if current_page?(user_path(current_user)) %> <!-- ユーザ詳細画面にいるときのみ表示 -->
          <li class="nav-item dropdown"> <!-- ドロップダウンにはBootstrapを採用 -->
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user-friends"></i> 参加グループ</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <% @groups.each do |group| %>
                <% if permitted_group_user(@user, group) %>
                  <li class="dropdown-item">
                    <%= link_to group.name, group %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if @group && @group.id != nil && current_page?(group_path(@group)) %> <!-- グループ詳細画面にいるときのみ表示 -->
          <li class="nav-item dropdown"> <!-- ドロップダウンにはBootstrapを採用 -->
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user-friends"></i> グループユーザ</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <% @users.each do |user| %>
                <li class="dropdown-item">
                  <% if permitted_group_user(user, @group) %>
                    <%= user.name %> さん
                  <% else %>
                    <%= user.name %> さん(招待中)
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to search_user_group_path(@group) do %>
              <i class="fas fa-user-plus"></i> ユーザを招待
            <% end %>
          </li>
          <li>
            <%= link_to edit_group_path(@group) do %>
              <i class="fas fa-users-cog"></i> グループ名を変更
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- サイドバーフッター -->
    <div class="sidebar__footer">
      <div class="sidebar__footer--current-user"><%= current_user.name %></div>
      <ul class="sidebar__footer--link">
        <li class="sidebar__footer--link-list">
          <%= link_to current_user do %>
            <i class="fas fa-user-circle"></i> マイページ
          <% end %>
        </li>
        <li class="sidebar__footer--link-list">
          <%= link_to edit_user_path(current_user), class: "dropdown-item__link" do %>
            <i class="fas fa-user-edit"></i> ユーザ情報編集
          <% end %>
        </li>
        <li class="sidebar__footer--link-list">
          <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>
      </ul>
    </div>
  <% else %>
    <!-- 未ログイン時 サイドバー -->
    <div class="sidebar__nav">
      <% if current_page?(root_path) %>
        <%= link_to signup_path do %>
          <i class="fas fa-user-plus"></i> アカウント作成
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      <% end %>
    </div>
  <% end %>
</aside>